opencv-python==3.3.0.9
wtf_forms=='*'
bcrypt==3.1.7
cryptography==2.7
cssmin==0.2.0
cycler==0.10.0
Flask-Assets==0.12
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.3.0
Flask-Login==0.4.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.0
Flask-WTF==0.14.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
Jinja2==2.9.6
keyring==18.0.0
wcwidth==0.1.7
webassets==0.12.1
webencodings==0.5.1
websockets==8.0.2
Werkzeug==0.12.2
widgetsnbextension==3.5.0
wrapt==1.11.2
WTForms==2.1
