bcrypt==3.1.7
Flask==0.12.2
Flask-Assets==0.12
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.3.0
Flask-Login==0.4.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.0
Flask-WTF==0.14.2
gevent==1.4.0
glob2==0.7
greenlet==0.4.15
gunicorn==20.0.4
Jinja2==2.9.6
jsonschema==3.0.1
pep8==1.7.1
requests==2.22.0
SQLAlchemy==1.1.14
unicodecsv==0.14.1
urllib3==1.24.2
websockets==8.0.2
Werkzeug==0.12.2
WTForms==2.1
