{% block doc -%}
<!DOCTYPE html>

{%- block html %}
<html lang="en">

<head>
  {%- block head %}

  {%- block metas %}
  <meta charset="UTF-8">

  {%- endblock metas %}
  <title>Flask Chat</title>

  {%- block styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="{{url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css" />
  <link rel = "stylesheet" href="{{ url_for('static', filename='css/chat_style.css') }}">
  {%- endblock styles %}


    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
    <script src="{{url_for('static',filename='js/MediaStreamRecorder.js')}}"></script>    
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  {%- endblock head %}

</head>

<body style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;">

  <header>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #274e68;">
      <div class="container">
        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == url_for('main.index') %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.logout') }}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item {% if request.path == url_for('main.login') %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
            </li>
            <li class="nav-item {% if request.path == url_for('main.register') %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <main id="app">
    <div class="row">
          <div class="col s6">
            <div class="card horizontal">
              <div id="origins-list" class="card-content" v-html="chatContent">                
                <div id="origins-list" class="card-content">
                  
                  </div>
              </div>
            </div>
            
      <div>

      <div id="display_users"></div>          
        <div class="input-field col s2">
            <button class="waves-effect waves-light btn" id = "join">
              <i class="material-icons right">add_to_queue</i>
              Join
            </button>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card horizontal">
          <div id="chat-messages" class="card-content" v-html="chatContent">
          </div>
        </div>
      <div>
          <div class="input-field col s8">
            <input type="text" v-model="newMsg" placeholder="Type your message here..." id="message">
          </div>
          <div class="input-field col s4">
            <button class="waves-effect waves-light btn" id="send">
              <i class="material-icons right">send</i>
              Send
            </button>
          </div>
        </div>
      </div>
      
        <div class="col s6">
          <div class="card horizontal">
            <div id="video_stream" class="card-content" v-html="chatContent">
              <!-- <video autoplay playsinline id="video1"></video> -->
              <!-- <div class="polaroid" style="display: none;"> -->
                <!-- <img src="{{url_for('main.video_feed')}}" id="img1"> -->
                <!-- <video controls autoplay playsinline></video> -->
                <!-- <canvas id="canvasOutput"></canvas> -->
                <!-- <div class="container"> -->
                <!-- <p>{{current_user}}</p> -->
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        <div>
            <div class="input-field col s4">
              <button class="waves-effect waves-light btn" id="send">
                <i class="material-icons right">personal_video</i>
                Video Streaming
              </button>
            </div>
          </div>
        </div>	

      <div class="input-field col s8" style = "display: none;"id="current_user">{{current_user}}</div>
  </main>
  <footer class="page-footer teal darken-3">
  </footer>


  <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
    
              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>
    
              <div class="modal-body">
                <slot name="body">
                  default body
                </slot>
              </div>
    
              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button" @click="$emit('close')">
                    OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
</body>
{%- endblock html %}
</html>
{% endblock doc -%}